.banner {
  background: none;

  ul {
    float: right;
    list-style-type: none;

    li {
      background: none;
      margin: 3px;
      float: left;

      a:hover, a.active {background:#efb600;}

      a{
        font-size:0px;
        width:10px;
        height:10px;
        display:block;
        border-radius:50px;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
        -khtml-border-radius:50px;
        background:gray;
      }
    }
  }
}